<div class="hero">
  <div class="hero_back">
    <br />
    <div class="frosty col-10 offset-1">
        <br />
        <h1>Learn Magic from the Pros</h1>
        <br />
        <h2>I'm an illusionist, Michael</h2>
        <br />
        <%= link_to 'Learn More', '#', class: 'btn btn-succes' %>
        <br />
        <div class="row feature text-center">
          <div class="col-12 col-sm">
            <h3>Amazing Courses</h3>
            <br />
            <p>Choose from any number of courses to study with amazing teachers.</p>
          </div>
          <div class="col-12 col-sm">
                <h3>Learn At Your Own Pace</h3>
                <br />
                <p>Enroll and access a courses archive of lessons.</p>
          </div>
          <div class="col-12 col-sm">
                <h3>Join our Community</h3>
                <br />
                <p>Learn with a community of like-minded individuals.</p>
          </div>
        </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin nibh non varius hendrerit. Phasellus a condimentum nibh. Integer convallis massa non libero posuere, et euismod nibh hendrerit. Integer dapibus congue libero, eu aliquam purus tristique eget. Ut metus neque, varius a dignissim sed, ultricies in odio. Suspendisse potenti. Cras ullamcorper, justo at fringilla rutrum, urna sapien vestibulum lacus, ut fringilla tortor nunc sed felis. Sed et risus ut metus volutpat vestibulum. Cras laoreet ex quis dolor facilisis hendrerit.

Etiam a lectus sit amet purus lacinia ornare vel sed massa. In dictum fringilla turpis, at convallis felis tincidunt vel. Nam vestibulum ullamcorper elit id tempus. Duis facilisis facilisis nisi. Maecenas bibendum orci eu semper bibendum. Pellentesque iaculis eros non nisl viverra luctus. Aenean est augue, convallis quis tellus non, viverra ultricies nisl.

Nam vel purus id magna convallis porta. Ut dui erat, faucibus eget placerat non, bibendum at orci. Nullam quis ligula eget neque vestibulum blandit. Donec bibendum, neque quis suscipit blandit, eros diam varius ipsum, ut condimentum est lacus vitae leo. Vestibulum scelerisque turpis vel rutrum hendrerit. Vestibulum a nunc ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur arcu mi, maximus at sapien a, vulputate feugiat quam. Sed consectetur ligula cursus erat tincidunt, a bibendum velit placerat. Mauris viverra urna ut metus tempor, et pulvinar dolor tristique. Etiam fermentum est et diam porta pharetra. Suspendisse tristique diam ut metus dapibus, ac vestibulum tellus sodales. Vivamus sit amet metus consectetur, malesuada nulla sit amet, scelerisque mauris. Curabitur consequat tempor elementum. Quisque sed porta ipsum. Praesent in tortor erat.

Ut ac sem facilisis, convallis nisl non, porta risus. Curabitur sit amet diam blandit, fermentum erat condimentum, aliquet risus. Duis dignissim feugiat massa. Nam ex erat, aliquet in velit vel, tincidunt mattis ex. Nam molestie neque nulla, congue scelerisque justo hendrerit vitae. Aenean at nisi scelerisque, finibus mauris pretium, feugiat augue. Morbi non diam at lorem elementum vulputate. Curabitur sit amet convallis tortor, at sollicitudin nunc. Morbi mauris elit, ultricies ac commodo nec, scelerisque ac orci.

Duis lacinia justo ac tellus viverra sollicitudin. Etiam nec mi congue, sagittis ipsum in, egestas mi. Fusce mollis lacinia nulla ac dapibus. Integer efficitur aliquet nunc. Etiam vitae diam mauris. Nullam id sapien iaculis, malesuada mi a, bibendum est. Donec ac elementum purus, viverra vulputate nibh. Morbi ut nisl finibus, luctus ligula vitae, dignissim massa. Vivamus finibus leo eget augue posuere lacinia. Morbi quis vulputate ligula. Nullam sagittis nisl elit, quis consectetur elit luctus nec. Donec quis tempus metus, sed pretium mi. Proin facilisis mi ac leo pharetra viverra. Aliquam eu leo commodo, pulvinar mi quis, lobortis arcu. Donec vel egestas risus.

</p>
    </div>
  </div>
</div>
