<br />

<div class="frosty col-10 offset-1">
  <h1>Privacy Policy</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin nibh non varius hendrerit. Phasellus a condimentum nibh. Integer convallis massa non libero posuere, et euismod nibh hendrerit. Integer dapibus congue libero, eu aliquam purus tristique eget. Ut metus neque, varius a dignissim sed, ultricies in odio. Suspendisse potenti. Cras ullamcorper, justo at fringilla rutrum, urna sapien vestibulum lacus, ut fringilla tortor nunc sed felis. Sed et risus ut metus volutpat vestibulum. Cras laoreet ex quis dolor facilisis hendrerit.
  </p>
</div>
