@import "bootstrap";

body {
  background: image_url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.link_style {
  font-family: "Helvetica Neue", Helvetica;
}

a:link, a:visited {
  font-family: "Helvetica Neue", Helvetica;
    color: darkcyan;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
  font-family: "Helvetica Neue", Helvetica;
    color: darkturquoise;
}


h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('top_nav_bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: .8;
}

.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  box-shadow: 0px 3px 8px #2a2a2a;
  opacity: .8;
}

.navbar-toggler navbar-toggler-right {
  color: black;
}

button {
  color: black;
  background-color: gray;
  border-color: black;
}

.btn-outline-success {
  color: black;
  border-color: black;
  
}

.btn-outline-success:hover {
  color: black;
  background-color: gray;
  border-color: black;
}

.navbar-toggler {
  color: black;
  background-color: gray;
  border-color: black;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  letter-spacing: 0.008em;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  letter-spacing: 0.008em;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 black;
  -webkit-box-shadow: 1px 1px 2px 0 black;
  box-shadow: 1px 1px 2px 0 black;
  background: black;
  border: 1px solid black;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.flixter_logo {
  font-family: "Helvetica Neue", Helvetica;
  color: fuchsia;
  
}








