@import "bootstrap";

body {
  background: image_url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.link_style {
  font-family: "Helvetica Neue", Helvetica;
}

a:link, a:visited {
  font-family: "Helvetica Neue", Helvetica;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a:hover, a:active {
  font-family: "Helvetica Neue", Helvetica;
    color: lightblue;
}


h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
	overflow: hidden;
}

h3:after {
    content:"";
    display: inline-block;
    height: 0.3em;
	vertical-align: middle;
    width: 130%;
    margin-right: 0;
    margin-left: 5px;
    border-top: 1.5px solid white;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('bg.png');
}

.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  box-shadow: 0px 3px 8px #2a2a2a;
  opacity: .8;
}

.navbar-toggler navbar-toggler-right {
  color: black;
}

button {
  color: black;
  background-color: gray;
  border-color: black;
}

btn {
  color: black;
  background-color: gray;
  border-color: black;
}

.btn-outline-success {
  color: black;
  border-color: black;
  
}

.btn-primary {
  color: white;
  background-color: gray;
  border-color: white;
}

.btn-large {
  color: white;
  background-color: gray;
  border-color: white;
}

.btn-outline-success:hover {
  color: black;
  background-color: gray;
  border-color: black;
}

.navbar-toggler {
  color: black;
  background-color: gray;
  border-color: black;
}

.frosty {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  letter-spacing: 0.008em;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  letter-spacing: 0.008em;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 black;
  -webkit-box-shadow: 1px 1px 2px 0 black;
  box-shadow: 1px 1px 2px 0 black;
  background: black;
  border: 1px solid black;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.flixter_logo {
  font-family: "Helvetica Neue", Helvetica;
  color: fuchsia;
  
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.btn-primary:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.clr {
  clear: both;
}

.course_name {
	justify-content: center;
}

.course_description {
	font-family: sans-serif;
	font-weight: 100;
}

hr {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	width: 83%;
}

img {
	position: relative;
	object-fit: cover;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 100px;
	max-width: 100%;
}

.lesson {
  background-color: black;
	margin-top: 10px;
	height: 130px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}